node_modules
.envvenv/
venv/
*.so

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Environment variables
.env
.env.local
__pycache__/
*.pyc
logs/
*.py[cod]

# Firebase credentials
firebase-credentials.json